.button {
    @extend %button-reset;
    padding: .9rem 2.5rem;
    font-size: 1.6rem;
    line-height: 1.25;
    border-radius: $border-radius;
    font-weight: 600;
    transition: .4s background;
    letter-spacing: .06rem;
    @include buttonStyled(
        'primary',
        $gray-100,
        $brand-primary,
        lighten($brand-primary, 5%),
        darken($brand-primary, 5%)
    );
    @include buttonStyled(
        'secondary',
        #fff,
        $brand-secondary,
        lighten($brand-secondary, 5%),
        darken($brand-secondary, 5%)
    );
    @include buttonStyled(
        'danger',
        #fff,
        $error,
        lighten($error, 5%),
        darken($error, 5%)
    );

    &--block {
        display: block;
        text-align: center;
        width: 100%;
    }

    &--smaller {
        padding: .8rem 1.5rem;
        font-size: 1.3rem;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    &--link {
        text-align: center;
        color: $gray-80;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        &:hover,
        &:focus {
            color: $gray-100;
        }
    }
}