.modal {
    padding: 2rem;
    overflow-y: scroll;
    position: fixed;
    z-index: 500;
    transform: translateY(-100vh);
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &--shown {
        transform: translateY(0);
        opacity: 1;
    }
    &__content {
        padding: 1.5rem;
        background-color: white;
        border-radius: $border-radius;
    }
}