.shoppingList {
    margin: 0;
    &__elem {
        position: relative;
        margin: 1.5rem 0;
        padding: 1.5rem 1.5rem .5rem;
        box-shadow: $light-shadow-drop;
        border-radius: $border-radius;
        background: #fff;
    }
    &__link {
        display: block;
    }
    &__title {
        font-size: 1.7rem;
        font-weight: 500;
        color: $gray-100;
        margin: 0 0 .5rem;
    }
    &__info {
        font-size: 1.4rem;
        font-weight: 400;
        color: $gray-60;
        margin: 0 0 2px;
        padding-right: 3rem;
        &--textRight {
            text-align: right;
            padding-right: 0;
        }
        &--success {
            color: $success;
        }
    }
    &__infoIcon {
        margin-right: .4rem;
    }

    &__btns {
        display: flex;
        margin: -.5rem 0 0;
    }

    &__btn {
        flex: 0 0 50%;
        &--edit {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                height: 2rem;
                margin-top: -1rem;
                border-right: 1px solid $gray-40;
            }
        }
        &--share {
            flex: initial;
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 2rem;
        }
    }

    &__btnIcon {
        margin-right: 3px;
        color: $gray-80;
    }

    &__progressBar {
        width: 100%;
        height: 1rem;
        margin: .8rem 0 1rem;
        background: $gray-20;
        border-radius: $border-radius-minor;
    }
    &__progressBarInner {
        height: 100%;
        border-radius: $border-radius-minor;
        background: $brand-secondary;
        transition: .4s ease;
    }

}