// COLORS 

$brand-primary: #FFCE10;
$brand-secondary: #00A17C;

$gray-100: #3d382c;
$gray-80: #4D4637;
$gray-60: #796e56;
$gray-40: #8f8266;
$gray-20: #B3AA99;
$gray-10: #e0dcd4;

$border-radius: 8px;

$backdrop: rgba(#000, .4);
