// COLORS 

$brand-primary: #FFCE10;
$brand-secondary: #00A17C;

$gray-100: #212121;
$gray-80: lighten($gray-100, 20%);
$gray-60: lighten($gray-100, 40%);
$gray-40: lighten($gray-100, 60%);
$gray-20: lighten($gray-100, 80%);

$font-family: 'Roboto', sans-serif;

$border-radius: .6rem;

$border-color: #ebebeb;

$backdrop: rgba(#000, .4);

$light-shadow-drop: 0 0 1rem .2rem rgba(#000, .05);
