// UTILS

@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

//BASE 

@import './base/fonts';
@import './base/reset';
@import './base/typography';

//LAYOUT

@import './layout/body';

// COMPONENTS 

@import './components/modal';
@import './components/backdrop';
@import './components/spinner';
@import './components/mobileNav';
@import './components/desktopNav'; 
@import './components/shoppingList'; 
@import './components/button'; 
@import './components/formField'; 
@import './components/form'; 
@import './components/formBlock';
@import './components/elementsForm';
@import './components/productsList';
@import './components/productBlock';

